html, body{
  font-family: 'Open-Sans', sans-serif;
}

h1{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  width: 95px;
  font-size:
}

#box-text{
  color: #6d6e71;
}

.main-h1{
  text-align: center;
  width: 200px;
  height: 30px;
  margin: auto;
  padding: 20px 0 40px 0;
}

.input-section{
  width: 100%;
  height: 310px;
  background-color: #e5f3f2;
  padding-bottom: 20px;
}

.input-section h1{
  color: #00a79d;
  font-size: 50px;
  display: inline-block;
}

.input-section input, .input-section button, .input-section textarea, .idea-section input{
  display: block;
  width: 90%;
  margin: auto;
  border: 1px solid #939958;
}

 .input-section input, .input-section textarea, .idea-section input{
   font-size: 20px;
   padding-left: 5px;
 }

 input:focus, textarea:focus, button:focus, .idea-title:focus, .idea-body:focus {
  box-shadow: none;
  outline: 0;
}

textarea{
  resize: none;
}

#title-input, #save-button, #search-input{
  height: 40px;
  margin-bottom: 20px;
}

#body-input{
  height: 90px;
  margin-bottom: 20px;
}

::-webkit-input-placeholder{
  font-size: 20px;
  padding-left: 5px;
}

#save-button{
  font-size: 20px;
  color: white;
  background-color: #00a79d;
  width: 91%;
  border: none;
}

#save-button:hover{
  background-color: #045e55;
  cursor: pointer;
}

#save-button:disabled{
  background-color: #D3D3D3;
  cursor: default;
}

#search-input{
  margin-top: 20px;
}

.hidden {
  display: none;
}

.idea-box {
  width: 90%;
  margin: 30px auto;
  display: block;
  border-bottom: 1px solid #D1D3D4;
  padding-bottom: 20px
}

.idea-box-header {
  width: 100%;
  text-align: left;
}

.idea-title {
  color: #6D6E71;
  display: inline-block;
  font-size: 40px;
}

.upvote:hover, .downvote:hover, .delete-idea:hover {
  cursor: pointer;
}

.delete-idea {
  display: inline-block;
  float: right;
  background-image: url('Images/delete.svg');
  height: 40px;
  width: 40px;
  vertical-align: bottom;
}

.delete-idea:hover {
  background-image: url('Images/delete-hover.svg');
  background-position: inherit;
}

.idea-body {
  color: #939598;
  margin: 30px auto;
  font-size: 20px;
  font-weight: lighter;
}

.idea-box-footer {
  display: block;
  width: 100%;
  text-align: left;
  padding-top: 10px;
}

.idea-ranking-quality {
  display: inline-block;
  height: 30px;
  text-align: right;
  margin-right: 1px;
  font-size: 20px;
  vertical-align: center;
}

.idea-ranking {
  color: #D1D3D4;
  display: inline-block;
  height: 30px;
  text-align: left;
  font-size: 20px;
}

.upvote, .downvote {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: bottom;
}

.downvote {
  background: url('Images/downvote.svg')
}

.upvote {
  background: url('Images/upvote.svg')
}

.downvote:hover{
  background: url('Images/downvote-hover.svg');
}

.upvote:hover {
  background: url('Images/upvote-hover.svg');
}


@media screen and (min-width: 900px) {

.input-section input, .input-section button, .input-section textarea, .idea-section input{
    width: 814px;
}

#save-button{
    width: 820px;
}

.idea-box {
  width: 820px;
}



}
