

@media screen and (min-width: 900px) {

.input-section input, .input-section button, .input-section textarea, .idea-section input{
    width: 814px;
}

#save-button{
    width: 820px;
}

.idea-box {
  width: 820px;
}

.hidden {
  display: none;
  border-bottom: 1px #ffffff solid;
  width: 0%;
  margin: none;
  padding-bottom: 0px;
}
}
